*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f0f0f0;
}

:root{
    --bg-gradiasi: linear-gradient(to right, var(--bg-color), var(--secont-bg-color));
    --bg-color: #0077D6;
    --secont-bg-color: #8BC7F8;

    --text-color: #f9f9f9;
    --text-2-color: #0177D6;

    --h1-font: 4rem;
    --h2-font: 2rem;
    --h4-font: 1.1rem;
}

/* Mengubah latar belakang navbar */
.navbar {
    background: var(--bg-gradiasi);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Efek bayangan */
    }

  /* Mengubah warna teks pada navbar-brand (logo) */
.navbar-brand {
    color: var(--text-color);
    }

.navbar-brand:hover{
    color: #505050; /* Warna teks saat dihover */
    }

  /* Mengubah latar belakang tombol Toggle */
.navbar-toggler {
    background-color: transparent; /* Ganti dengan warna latar belakang yang Anda inginkan */
    border-color: transparent; /* Ganti dengan warna border yang Anda inginkan */
    }

  /* Mengubah latar belakang sidebar */
.offcanvas {
    background-color: var(--bg-color); /* Ganti dengan warna latar belakang yang Anda inginkan */
    }

  /* Mengubah warna teks pada sidebar header */
.offcanvas-header {
    background-color: var(--bg-color); /* Ganti dengan warna latar belakang yang Anda inginkan */
    color: var(--text-color); /* Ganti dengan warna teks yang Anda inginkan */
  }

  /* Mengubah warna tombol Close pada sidebar header */
.offcanvas-header .btn-close {
    color: var(--text-color); /* Ganti dengan warna teks yang Anda inginkan */
  }

  /* Mengubah warna teks pada judul sidebar */
.offcanvas-title {
    color: var(--text-color); /* Ganti dengan warna teks yang Anda inginkan */
  }

/* Mengubah warna teks tautan <a> pada navbar */
.navbar a.nav-link {
  color: var(--text-color); /* Warna teks */
}

/* Mengubah warna teks tautan <a> saat dihover (mengambang) */
.navbar a.nav-link:hover {
    color: #505050; /* Warna teks saat dihover */
  }

/* Membungkus tombol-tombol dalam sebuah div dan mengatur tata letak dengan flexbox */
div.button-container {
    display: flex;
    justify-content: space-between; /* Membuat ruang antara tombol Login dan Sign Up */
    align-items: center; /* Mengatur tombol secara vertikal di tengah */
  }
  
  /* Mengubah warna teks tombol Login dan Sign Up */
  .btn.btn-outline-light {
    background-color: transparent;
    color: var(--text-color);
    margin: 5px; /* Ubah nilai margin sesuai dengan preferensi Anda */
  }
  
  /* Mengubah warna teks tombol saat dihover (mengambang) */
  .btn.btn-outline-light:hover {
    color: #505050;
    background-color: var(--text-2-color);
  }


  .beranda {
    text-align: center;
    padding: 60px 0;
    background: linear-gradient(to right, var(--bg-color), var(--secont-bg-color));
  }

  .beranda h4{
    color: var(--text-color);
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 3.5;
  }

  .beranda h1{
    color: var(--text-color);
    font-size: var(--h1-font);
    font-size: 36px;
    margin: 20px;
  }

  .beranda h2{
    color: var(--text-color);
    font-size: var(--h2-font);
    margin: 10px;
  }

  .btn.btn-outline {
    background-color: var(--bg-color);
    border: 2px solid transparent;
    color: var(--text-color);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .btn.btn-outline:hover {
    background-color: #007bff;
    color: var(--text-color);
  }



/* Gaya footer */
.footer {
  background: var(--bg-gradiasi);
  color: var(--text-color);
  padding: 50px 0;
  text-align: left;
}

/* Gaya container dalam footer */
.footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%; /* Atur lebar sesuai kebutuhan Anda, misalnya 80% dari lebar parent */
  margin: 0 auto; /* Pusatkan elemen container di tengah horizontal */
}

/* Gaya kolom dalam footer */
.footer-col {
  flex-basis: 30%; /* Sesuaikan dengan lebar yang diinginkan */
  text-align: left;
}

.footer-col h4 {
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
  line-height: 1.2;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--text-color); /* Ganti dengan warna yang sesuai */
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

/* Gaya daftar dalam footer */
.footer-col ul {
  list-style: none;
  padding: 0;
}


.footer-col ul li a {
  font-size: 20px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 500;
  color: var(--text-color); /* Ganti dengan warna teks yang sesuai */
  display: block;
  transition: all 0.3s ease;
  line-height: 1.2;
}

.footer-col ul li a:hover {
  color: var(--text-2-color); /* Ganti dengan warna teks saat digulirkan yang sesuai */
  padding-left: 10px;
}

/* Styling ikon media sosial */
.footer-col ul a {
  font-size: 30px;
  color: var(--text-color); /* Ganti dengan warna ikon yang sesuai */
  text-decoration: none;
  margin-right: 15px;
  transition: all 0.3s ease;
}

.footer-col ul a:hover {
  color: var(--bg-color); /* Ganti dengan warna ikon saat digulirkan yang sesuai */
}

/*isi artikel*/
#home
{
    width: 100%;
    height: 125vh;
    position: relative;
}

.home p
{
    line-height: 0.8;
    margin: 1px 0px 20px;
}

.home p:nth-child(1)
{
    font-family: poppins;
    color: #1a1a1a;
    font-size: 32px;
    font-weight: bold;
}

.home p:nth-child(2)
{
    font-family: poppins;
    color: #1a1a1a;
    font-size: 15px;
    letter-spacing: none;
    line-height: 2;
    text-align: justify;
}

.home p:nth-child(3)
{
    font-family: poppins;
    color: #1a1a1a;
    font-size: 32px;
    font-weight: bold;

}

.home p:nth-child(4)
{
    font-family: poppins;
    color: #1a1a1a;
    font-size: 15px;
    line-height: 1.8;
    text-align: justify;
}

.home
{
    position: absolute;
    left: 0%;
    right: 47%;
    transform: translate(19%, 12%);
}

.picture
{
    width: 300px;
    height: auto;
    position: absolute;
    left: 70%;
    top: 15%;
    transform: translateX(-8%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}





