  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f0f0f0;
}

:root{
    --bg-gradiasi: linear-gradient(to right, var(--bg-color), var(--secont-bg-color));
    --bg-color: #0077D6;
    --secont-bg-color: #8BC7F8;

    --text-color: #f9f9f9;
    --text-2-color: #0177D6;

    --h1-font: 4rem;
    --h2-font: 2rem;
    --h4-font: 1.1rem;
}

/* bagian navbar */
.navbar {
    background: var(--bg-gradiasi);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }

.navbar-brand {
    color: var(--text-color);
  }

  .navbar-brand:hover{
    color: #505050; 
  }

.navbar-toggler {
    background-color: transparent; 
    border-color: transparent; 
  }

.offcanvas {
    background-color: var(--bg-color); 
}

.offcanvas-header {
    background-color: var(--bg-color); 
    color: var(--text-color);
  }

.offcanvas-header .btn-close {
    color: var(--text-color);
  }
.offcanvas-body .nav-item .nav-link{
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
}

.offcanvas-title {
    color: var(--text-color);
  }

.navbar a.nav-link {
  color: var(--text-color); /* Warna teks */
}

.navbar a.nav-link:hover {
    color: #505050; /* Warna teks saat dihover */
  }

div.button-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
  }
  
  .btn.btn-outline-light {
    background-color: transparent;
    color: var(--text-color);
    margin: 5px; 
  }
  
  .btn.btn-outline-light:hover {
    color: #505050;
    background-color: var(--text-2-color);
  }

  .bxs-user-circle {
    font-size: 50px; 
    color: #f5f5f5; 
    text-decoration: none; 
}

/* bagian Beranda */
  .beranda {
    text-align: center;
    padding: 60px 0;
    background: linear-gradient(to right, var(--bg-color), var(--secont-bg-color));
  }

  .beranda h4{
    color: var(--text-color);
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 3.5;
  }

  .beranda h1{
    color: var(--text-color);
    font-size: var(--h1-font);
    font-size: 100;
    margin: 20px;
  }

  .beranda h2{
    color: var(--text-color);
    font-size: var(--h2-font);
    margin: 10px;
  }

  .btn.btn-outline {
    background-color: var(--bg-color);
    border: 2px solid transparent;
    color: var(--text-color);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .btn.btn-outline:hover {
    background-color: #007bff;
    color: var(--text-color);
  }


  /*bagian fitur */
.fitur {
  background-color: #f0f0f0;
  padding: 40px 0;
}

.fitur h2 {
  text-align: center;
  font-size: var(--h2-font);
  font-weight: 500;
  color: var(--text-2-color);
  margin: 20px 0;
}

.fitur p {
  font-size: 16px;
  font-weight: 400;
}

.card {
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: var(--text-color);
}

.card img {
  max-width: 100%;
  height: auto;
}

.card-title {
  font-size: 24px;
  margin: 10px 0;
}

.card-text {
  font-size: 16px;
  margin: 10px 0;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: var(--text-color);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
  color: var(--text-color);
}



/*bagian tentang kami */
.tentang-kami {
  padding: 40px 0;
  background-color: var(--text-color);
}

.tentang-kami h2 {
  text-align: center;
  font-size: 30px;
  margin: 20px 0;
 color: var(--text-2-color);
}

.tentang-kami p {
  font-size: 16px;
  margin: 10px 0;
}


/* bagian footer */
.footer {
  background: var(--bg-gradiasi);
  color: var(--text-color);
  padding: 50px 0;
  text-align: left;
}


.footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%; 
  margin: 0 auto; 
}


.footer-col {
  flex-basis: 30%; 
  text-align: left;
}

.footer-col h4 {
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
  line-height: 1.2;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--text-color);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li a {
  font-size: 20px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 500;
  color: var(--text-color); 
  display: block;
  transition: all 0.3s ease;
  line-height: 1.2;
}

.footer-col ul li a:hover {
  color: var(--text-color); 
  padding-left: 10px;
}

.footer-col ul a {
  font-size: 30px;
  color: var(--text-color); 
  text-decoration: none;
  margin-right: 15px;
  transition: all 0.3s ease;
}

.footer-col ul a:hover {
  color: var(--bg-color); 
}


/* page produk */
.produk {
  margin: 60px;
  padding: 20px;
  background-color: #f0f0f0;
}

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 18px;
  font-weight: 400;
}

.card-text {
  font-size: 14px;
}

.btn-outline-primary {
  background-color: transparent;
  border: 2px solid #007bff;
  color: #007bff;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.btn-outline-primary:hover {
  background-color: #007bff;
  color: #fff;
}


/* Bagian Page chat */
.chat {
  margin: 20px;
  background-color: #f0f0f0;
  padding: 40px 0;
  text-align: left;
}

.chat h1 {
  font-size: 24px;
  font-weight: 500;
  color: #333; 
}


/*bagian page artikel */
.artikel {
  margin: 50px;
  padding: 20px;
}


.card {
  border: 1px solid #ddd; 
  border-radius: 5px; 
}

.card-title {
  font-size: 18px;
  font-weight: 600;
}

.card-text {
  font-size: 14px;
  line-height: 1.4;
}

.card-footer {
  background-color: #f8f9fa;
  padding: 8px;
  text-align: right;
  font-size: 12px;
  color: #888;
}


.text-muted {
  color: #888;
}

.artikelmyopia{
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 20px;

}
.artikelmyopia .card-artikel{
  margin: 20px;
  font: bolder;
  text-align: center;
  padding-left: 0px;
}

.card .card-text {
  font-size: 16px; 
  text-align: justify;
}

.card a{
  text-decoration: none;
}


/* Bagian page komunitas */
.komunitas {
  margin: 25px;
  padding: 20px;
  background-color: #f0f0f0;
}

.card {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.card-text {
  font-size: 14px;
}

.btn {
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

/*bagian profil*/
.profil.content-wrapper {
  background-color: #f5f5f5;
  padding: 20px;
  margin: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[readonly] {
  background-color: #f5f5f5;
  color: #555;
  cursor: not-allowed;
}
